.Addbooks{
    background:transparent;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
}
.one{
    display:inline-flex;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.Add{
    
    margin-left: 30%;
    line-height: 30px;
}
.Add label{
    font-size: 20px;
    padding: 40px;
    padding-left: 70px;
}
.Add input
{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-left: 44%;
}
.Add button{
    border-radius: 5px;
    padding: 5px;
    border: none;
}

