.first{
    background-color: white;
    position:relative;
    height: 250px;
    width:848px;
    padding-left: 60px;
    padding-top: 10px;
    opacity:0.9;
    margin-top: -350px;
    margin-bottom: 100px;
    z-index: 0px;
}
.first h1{
    font-size: 45px;
    opacity: 0.9;
    border-bottom: 1px #027d59 solid;
}
.first p{
    font-size: 15px;
    margin-top:-15px ;
    line-height: 30px;
}
.img1 img{
    height:400px;
    width:1200px;
    margin:80px 160px;
    margin-right: 60px;

}
.details{
    background-color: white;
    position:relative;
    height: 250px;
    width:850px;
    /* padding-left: 60px;
    padding-top: 10px; */
    /* opacity:0.9; */
    margin-top: -150px;
    margin-bottom: 80px;
    margin-left: 200px;
}

.details h1{
    font-size: 40px;
    margin:10px;
    margin-top: 10px;
    opacity: 0.9;
}
.details h2{
    margin: 10px;
    font-family: Gotham SSm A,Gotham SSm B;
    border-bottom: 40px;
    padding-bottom: 2px;
    font-weight: lighter;
    color:#303030;
}
.third img{
    height:250%;
    width: 100%;
    
} 
.details1{
    background-color: #019875;
    /* opacity: 0.9; */
    color:#333333;
    border:transparent;
    /* margin-top:-19.6693; */
    margin-top: -300px;
    margin-left:20%;
    position:relative;
    width:900px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 7px 0.5px gray; */
    /* margin-bottom: 20px; */
}
.third h1{
    padding-left:37%;
    padding-top:13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
.third p{
    color: white;
    padding-left: 90px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.fourth{
    display:inline-flex;
}
.division{
    margin-top: 250px;
}
.division1{
    margin-top: 250px;
}
.div1{
    margin-right: 100px;
    margin-left: 150px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 220px;
    width:400px;
    border:transparent;
    box-shadow: 0px 0px 7px 0.5px gray;
    
}
.div2{
    
    margin-right: 100px;
    margin-left: 60px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
    height:200px;
    width:400px;
    border:transparent;
    box-shadow: 0px 0px 7px 0.5px gray;

}
.div3{
    margin-top: 250px;
    margin-right: 100px;
    margin-left: 80px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    height:220px;
    width:400px;
    border:transparent;
    box-shadow: 0px 0px 7px 0.5px gray;
}
.div4{
    margin-right: 100px;
    margin-left: -40px;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 20px;
    height: 200px;
    width: 400px;
    border:transparent;
    box-shadow: 0px 0px 7px 0.5px gray;
}
.division1 button{
    border: transparent;
    border-bottom: 1.5px solid #019875;
    background-color: 10px;
    margin-bottom: 10px;
    color:#019875;
    background-color: white;

}

.division button{
    border: transparent;
    border-bottom: 1.5px solid #019875;
    background-color: 10px;
    margin-bottom: 10px;
    color:#019875;
    background-color: white;

}


